USE [MedicalCenter]
GO
/****** Object:  Table [dbo].[PatientWindow]    Script Date: 22.11.2023 12:10:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientWindow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pacient] [nchar](10) NOT NULL,
	[data] [date] NOT NULL,
 CONSTRAINT [PK_PatientWindow_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]